<div *ngIf="!loading ;else loadingTemplate"></div>
<toaster-container></toaster-container>
<div class="content panel panel-default" id="panel" width="80px;">
  <app-table-header [dataTableResult]="dataTableResult"></app-table-header>
  <div class="row">
    <div class="col-lg-12 table-responsive">
      <table #dataTable class="table table-hover compact" width="100%" >
        <thead style="background-color:#f8f9fa">
          <tr>
            <th class="th-sm" style="padding-left:30px;">PRENOM
            </th>
            <th class="th-sm">NOM
            </th>
            <th class="th-sm">DATE DE NAISSANCE
            </th>
            <th class="th-sm">AGE
            </th>
            <th class="th-sm">ADRESSE
    </th>
          </tr>
        </thead>
        <tbody class="cursor-pointer">

        </tbody>
      </table>
    </div>
  </div>
</div>
<ng-template #loadingTemplate>
    <h1>chargement des clients ..............</h1>
    <mat-spinner  style="margin-left:100px;"></mat-spinner>
 </ng-template>
